body {
    $nav-font-family: "Montserrat", sans-serif;
}

nav {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        li {
            display: flex;
            position: relative;
            a {
                display: block;
                padding: 0 20px;
                line-height: 115px;
                background: $nav-background;
                color: $nav-font-color;
                text-decoration: none;
                position: relative;
                &:hover {
                    color: $nav-font-color;
                }
            }
            .nav-dropdown {
                position: absolute;
                display: none;
                z-index: 1;
                box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
                background-color: #fff;
                padding: 40px 0;
                li {
                    position: relative;
                    a {
                        line-height: 35px;
                        font-size: 13px;
                        color: #737373;
                        font-weight: 500;
                        text-transform: unset;
                    }
                    span {
                        font-family: "Playfair Display", serif;
                        font-size: 22px;
                        text-transform: none;
                        line-height: 1.1em;
                        color: #1b1b1b;
                        font-weight: 500;
                        padding: 0 0 24px 20px;
                    }
                }
            }
        }
    }
}

.nav-dropdown {
    position: relative;
    .port1 {
        .thirdtier {
            position: absolute;
            left: 12rem;
            display: none;
            min-width: 195px;
        }
        a {
            min-width: 175px;
            width: 100%;
            i {
                position: absolute;
                top: 11px;
                right: 15px;
            }
        }
    }
}

.nav-dropdown {
    .port1 {
        &:hover .thirdtier {
            display: block;
        }
    }
}

.nav-dropdown {
    .port2 {
        .thirdtier {
            position: absolute;
            left: -12rem;
        }
        a {
            text-align: right;
            i {
                position: absolute;
                right: 10rem;
            }
        }
    }
}

nav {
    .list {
        position: relative;
        a {
            font-family: $nav-font-family;
            font-size: $nav-font-size;
            font-weight: $nav-font-weight;
            text-transform: uppercase;
            letter-spacing: 0.1em;
        }
        &:hover .nav-dropdown {
            display: block;
            min-width: 200px;
            position: absolute;
            left: 0;
            top: 6rem;
        }
        &:hover .column-2 {
            width: 1000px;
            height: 400px;
            position: absolute;
            left: -35rem;
        }
    }
}

nav {
    .nav-list {
        .list {
            .underline {
                &::before {
                    content: "";
                    height: 1px;
                    background-color: #737373;
                    position: absolute;
                    bottom: 3rem;
                    left: 7px;
                    width: 100px;
                    margin: auto;
                    transition: width 0.2s ease-in-out;
                }
            }
        }
    }
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: $nav-background;
    height: $nav-height;
    width: $nav-height;
}

#nav-toggle {
    &::selection {
        color: #f34f3f;
    }
    position: absolute;
    left: -47px;
    top: 47px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
    span,
    span:before,
    span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 3px;
        width: 35px;
        background: $nav-font-color;
        position: absolute;
        display: block;
        content: "";
        transition: all 300ms ease-in-out;
    }
    span:before {
        top: -10px;
    }
    span:after {
        bottom: -10px;
    }
    &.active span {
        background-color: transparent;
        &:before,
        &:after {
            top: 0;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
}

#navigation {
    &::selection {
        color: #f34f3f;
    }
    .nav-container {
        max-width: 1300px;
        margin: 0 auto;
        height: 100%;
    }
    .brand {
        padding-left: 20px;
        float: left;
        line-height: $nav-height;
        text-transform: uppercase;
        font-size: 22px;
        img {
            width: 205px;
            height: 25px;
            vertical-align: inherit;
        }
    }
    header {
        .nav-list {
            height: 115px;
            display: flex;
            align-items: center;
            .list {
                a {
                    &::before {
                        content: "";
                        height: 1px;
                        background-color: #737373;
                        position: absolute;
                        bottom: 3rem;
                        left: 0;
                        width: 0;
                        margin: auto;
                        transition: width 0.2s ease-in-out;
                        color: #6d6a6a;
                    }
                }
                &:hover a::before {
                    width: 100%;
                }
            }
        }
    }
    header {
        .nav-list {
            .list {
                .nav-dropdown {
                    li {
                        a {
                            &::before {
                                content: "";
                                height: 1px;
                                background-color: #737373;
                                position: absolute;
                                bottom: 2px;
                                left: 15px;
                                width: 0;
                                margin: auto;
                                transition: width 0.2s ease-in-out;
                                color: #6d6a6a;
                            }
                        }
                        &:hover a::before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    header {
        .nav-list {
            .list {
                .nav-dropdown {
                    .port1 {
                        .thirdtier {
                            li {
                                a {
                                    &::before {
                                        content: "";
                                        height: 1px;
                                        background-color: #737373;
                                        position: absolute;
                                        bottom: 2px;
                                        left: 15px;
                                        width: 0;
                                        margin: auto;
                                        transition: width 0.2s ease-in-out;
                                        color: #6d6a6a;
                                    }
                                }
                                &:hover a::before {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    height: $nav-height;
    background: $nav-background;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
}

.nav-container {
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
}

.brand {
    padding-left: 20px;
    float: left;
    line-height: $nav-height;
    text-transform: uppercase;
    font-size: 22px;
    img {
        width: 205px;
        height: 25px;
        vertical-align: inherit;
    }
}

header {
    .nav-list {
        height: 115px;
        display: flex;
        align-items: center;
        .list {
            a {
                &::before {
                    content: "";
                    height: 1px;
                    background-color: #737373;
                    position: absolute;
                    bottom: 3rem;
                    left: 0;
                    width: 0;
                    margin: auto;
                    transition: width 0.2s ease-in-out;
                    color: #6d6a6a;
                }
            }
            &:hover a::before {
                width: 100%;
            }
        }
    }
}

header {
    .nav-list {
        .list {
            .nav-dropdown {
                li {
                    a {
                        &::before {
                            content: "";
                            height: 1px;
                            background-color: #737373;
                            position: absolute;
                            bottom: 2px;
                            left: 15px;
                            width: 0;
                            margin: auto;
                            transition: width 0.2s ease-in-out;
                            color: #6d6a6a;
                        }
                    }
                    &:hover a::before {
                        width: 100%;
                    }
                }
            }
        }
    }
}

header {
    .nav-list {
        .list {
            .nav-dropdown {
                .port1 {
                    .thirdtier {
                        li {
                            a {
                                &::before {
                                    content: "";
                                    height: 1px;
                                    background-color: #737373;
                                    position: absolute;
                                    bottom: 2px;
                                    left: 15px;
                                    width: 0;
                                    margin: auto;
                                    transition: width 0.2s ease-in-out;
                                    color: #6d6a6a;
                                }
                            }
                            &:hover a::before {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .nav-mobile {
        display: block;
    }
    nav {
        width: 100%;
        .nav-list {
            display: none;
        }
        li {
            float: none;
            a {
                padding: 15px;
                line-height: 20px;
            }
            ul li a {
                padding-left: 30px;
            }
        }
    }
}

.nav-dropdown {
    position: static;
}

.searchbar {
    position: relative;
    width: 0;
}

.searchbar input[type="text"] {
    border: 0;
    padding: 0;
    width: 0px;
    height: 35px;
    border-radius: 3px;
    transition: all 0.3s ease;
    position: absolute;
    top: 90px;
    right: -45px;
}

.searchbar .icon.active {
    transition: all 0.3s ease;
}

.searchbar input[type="text"].active {
    width: 230px;
    padding: 0 10px;
    transition: all 0.5s 0.2s ease;
}

.searchbar .icon {
    transition: all 0.5s 0.3s ease;
    i {
        cursor: pointer;
        transform: translate(-50%, -50%);
        font-size: 15px;
        margin-left: 27px;
        margin-top: 30px;
    }
}

.nav-list {
    .carticon {
        i {
            position: absolute;
            top: 3.2rem;
            right: 17rem;
            color: #1b2024;
            font-size: 18px;
            font-weight: 400;
            span {
                border-radius: 10px;
                position: absolute;
                top: -4px;
                right: -8px;
                font-size: 9px;
            }
            &:hover p {
                display: block;
            }
        }
        p {
            color: #6d6a6a;
            position: absolute;
            top: 6rem;
            right: 16rem;
            background-color: white;
            display: none;
        }
    }
}

.nav-list {
    .carttext {
        span {
            position: absolute;
            top: 3.2rem;
            right: 11rem;
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.1em;
        }
    }
}

#about {
    margin-bottom: 30px;
    .row {
        padding-top: 57px;
    }
    .item {
        height: 320px;
        background-color: rgb(250, 250, 249);
        background-image: url(https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/p1-title-img.jpg);
        background-position: center 0px;
        background-size: cover;
        background-attachment: fixed;
        .img {
            img {
                display: block;
                width: 100%;
            }
        }
        .text {
            font-family: 'Playfair Display', serif;
            margin: 0 auto;
            padding: 103px;
            h1 {
                font-size: 50px;
                line-height: 1.32em;
                font-weight: 400;
                display: flex;
                justify-content: center;
                color: #0e0e0e;
            }
            .pspan {
                display: inline-block;
                vertical-align: middle;
                font-family: Lora, serif;
                font-size: 17px;
                font-style: italic;
                text-transform: none;
                letter-spacing: 0;
                color: #6d6a6a;
                display: flex;
                justify-content: center;
            }
        }
    }
    .title {
        color: #2b2b2b;
        font-family: "Playfair Display", serif;
        font-weight: 400;
        padding-top: 80px !important;
        padding-bottom: 120px !important;
        h2 {
            span {
                color: #f34f3f;
            }
        }
        p {
            font-size: 17px;
            line-height: 29px;
            margin-top: 27px;
            display: block;
            margin: 14px 0 0;
            font-family: 'Lora', serif;
        }
        .space {
            height: 42px;
        }
        .imghold {
            img {
                padding-top: 30px;
            }
        }
    }
    .img-buton {
        img {
            max-width: 100%;
            height: auto;
            cursor: pointer;
            transform: scale(1);
            transition: 0.3s ease-in-out;
            &:hover {
                transform: scale(1.2);
            }
        }
        .img-play {
            position: relative;
            top: 50%;
            left: 0;
            display: block;
            text-align: center;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
            bottom: 198px;
            .cycle {
                width: 103px;
                height: 103px;
                position: relative;
                background: #fff;
                border-radius: 50%;
                margin: auto;
                top: -70px;
            }
            i {
                color: red;
                position: absolute;
                z-index: 2;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    padding-top: 60px;
    .fluid {
        background-color: #f8f8f8;
    }
    .info {
        .text1 {
            h2 {
                font-family: 'Playfair Display', serif;
                font-size: 38px;
                color: #2b2b2b;
                text-align: center;
                display: block;
                margin: 0 0 19px;
                font-weight: 100;
            }
            p {
                text-align: center;
                display: block;
                margin: 14px 0 0;
                margin-bottom: 35px;
            }
        }
    }
     ::selection {
        background: #f34f3f;
        color: #fff;
    }
    .team {
        .team-img {
            img {
                display: block;
                margin: 0 auto;
                margin-top: 35px;
                margin-bottom: 18px;
            }
            h6 {
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                font-size: 12px;
                color: #1b1b1b;
                margin: 0px;
                font-size: 12px;
                line-height: 2em;
                font-weight: 500;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }
            span {
                text-align: center;
                display: block;
                font-size: 12px;
                color: #afafaf;
                margin: 2px 0 4px;
            }
        }
    }
}

#carousel {
    &::selection {
        color: #f34f3f;
    }
    .owl-carousel {
        .owl-item {
            img {
                display: block;
                margin: 0 auto;
                width: auto!important;
                border-radius: 5em;
            }
            p {
                text-align: center;
                color: #4b4747;
                font-family: Lora, serif;
                font-style: italic;
                font-size: 24px;
                line-height: 1.5em;
            }
            .name {
                display: block;
                text-align: center;
                color: #1b1b1b;
                font-family: Montserrat;
                font-size: 12px;
                line-height: 2em;
                font-weight: 500;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }
            .tspan {
                display: block;
                font-size: 12px;
                letter-spacing: 0;
                line-height: 24px;
                text-transform: none;
                color: #afafaf;
                text-align: center;
                font-family: Montserrat;
            }
        }
    }
    .owl-nav {
        span {
            position: absolute;
            left: 100%;
            top: 50%;
        }
    }
    .cowl {
        .testio {
            margin-top: 50px;
            position: relative;
            p {
                text-align: center;
                color: #4b4747;
                font-family: Lora, serif;
                font-style: italic;
                font-size: 24px;
                line-height: 1.5em;
            }
            .name {
                display: block;
                text-align: center;
                color: #1b1b1b;
                font-family: Montserrat;
                font-size: 12px;
                line-height: 2em;
                font-weight: 500;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }
            .tspan {
                display: block;
                font-size: 12px;
                letter-spacing: 0;
                line-height: 24px;
                text-transform: none;
                color: #afafaf;
                text-align: center;
                font-family: Montserrat;
            }
        }
        img {
            display: block;
            margin: 0 auto;
            width: auto!important;
            border-radius: 5em;
        }
        .testo {
            p {
                text-align: center;
                color: #4b4747;
                font-family: Lora, serif;
                font-style: italic;
                font-size: 24px;
                line-height: 1.5em;
            }
            img {
                display: block;
                margin: 0 auto;
                width: auto!important;
                border-radius: 5em;
            }
        }
    }
}

#ft {
    &::selection {
        color: #f34f3f;
    }
    // padding: 73px 0;
    .mkdf-footer-top-holder {
        padding: 73px 0;
        position: relative;
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        background-color: #fefaf3;
        box-sizing: border-box;
    }
    .mkdf-footer-top-inner {
        padding: 73px 0;
        .col-lg-3 {
            .menu-custom {
                .custom-service {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    li {
                        display: block;
                        margin: 0;
                        padding: 0 0 3px;
                        a {
                            text-decoration: none;
                            font-size: 12px;
                            color: #8b8b8b;
                            font-family: 'Montserrat', sans-serif;
                            &:hover {
                                color: #f34f3f;
                                transition: color .2s ease-out;
                            }
                        }
                    }
                }
            }
            h6 {
                color: #000;
                margin: 0;
                margin-bottom: 20px;
                font-family: 'Montserrat', sans-serif;
            }
        }
    }
    .mkdf-footer-botton-holder {
        .mktext {
            .textwidget {
                font-size: 12px;
                font-family: 'Montserrat', sans-serif;
                div {
                    color: #afafaf;
                    a {
                        text-decoration: none;
                        color: #6d6a6a;
                        &:hover {
                            color: #f34f3f;
                        }
                    }
                }
            }
        }
    }
    .custom {
        border-top: 1px solid #eceae1;
        padding: 8px 0 17px;
        background-color: #fefaf3;
        .col-lg-4 {
            .img {
                text-align: center;
                cursor: pointer;
            }
        }
        .col-lg-4 {
            a {
                text-decoration: none;
                span {
                    color: #8b8b8b;
                    font-size: 10px;
                    letter-spacing: .2em;
                    margin-left: 25px;
                    &:hover {
                        color: #f34f3f;
                    }
                }
            }
        }
    }
}