#product {
    margin-top: 110px;
    padding: 70px 0px;
    background-color: #fafaf9;
    .title-wrapper {
        h1 {
            color: #0e0e0e;
            font-family: 'Playfair Display', serif;
            font-size: 50px;
            line-height: 1.32em;
            font-weight: 400;
            display: table-cell;
            height: 100%;
            width: 100%;
        }
        span {
            display: inline-block;
            vertical-align: middle;
            font-family: 'Lora', serif;
            font-size: 17px;
            font-style: italic;
            text-transform: none;
            letter-spacing: 0;
            color: #6d6a6a;
            margin: 8px 0 0;
        }
    }
}

#flower {
    .container {
        padding: 61px 0 40px 0;
    }
    .galary-img {
        width: 130px;
        img {
            width: 100%;
            height: 400%;
            margin-top: 15px;
            cursor: pointer;
        }
    }
    .product-img {
        margin-top: 13PX;
        img {
            width: 100%;
        }
    }
    .product-single-title {
        h2 {
            margin-bottom: 0px;
            font-size: 38px;
            line-height: 1.447em;
            color: #2b2b2b;
            font-family: "Playfair Display", serif;
            font-weight: 400;
        }
        span {
            color: #afafaf;
        }
        p {
            margin: 0;
            line-height: 1.6em;
            font-family: Lora, serif;
            color: #6d6d6d;
            margin-top: 20px;
        }
        .mkdf-quantity-button {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            border: 1px solid #eee;
            box-sizing: border-box;
            line-height: 50px;
            height: 51px;
            padding: 0 22px;
            margin: 0 -.3em 0 0;
            span {
                margin-right: 50px;
                display: inline-block;
                vertical-align: middle;
                color: #999;
                background-color: transparent;
                text-align: center;
                border: 0;
                box-sizing: border-box;
            }
            .mkdf-quantity-minus {
                color: #999;
                font-size: 16px;
                font-family: 'ElegantIcons';
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                .minusCount {
                    &:hover {
                        color: #f34f3f;
                    }
                }
                .plusCount {
                    &:hover {
                        color: #f34f3f;
                    }
                }
            }
            input {
                width: 30px;
                text-align: center;
                font-size: 14px;
                border: none;
                outline: none;
                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
            input {
                font-style: normal;
                font-size: 14px;
                position: relative;
                width: 27px;
                padding: 0;
                margin: 0;
                font-family: inherit;
                outline: 0;
            }
            i {
                cursor: pointer;
            }
        }
        button {
            background-color: #080808;
            padding: 14px 42px;
            color: white;
            margin-top: 15px;
            width: 196px;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: auto;
            outline: 0;
            font-size: 12px;
            font-family: Montserrat, sans-serif;
            line-height: 1.833em;
            letter-spacing: .1em;
            font-weight: 500;
            text-transform: uppercase;
            box-sizing: border-box;
            border-radius: 0;
            margin: 0;
            -webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
            -moz-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
            transition: color .3s ease, background-color .3s ease, border-color .3s ease;
            padding: 13px 42px;
            color: #fff;
            border: 1px solid transparent;
            white-space: nowrap;
            cursor: pointer;
            z-index: 3;
        }
    }
    .product-meta {
        .sku-w {
            .sku-s {
                display: block;
                margin: 0 0 7px;
                color: #2b2b2b;
                font-weight: 500;
                font-size: 12px;
                padding-top: 30px;
            }
        }
        .sku-n {
            color: #8b8b8b;
            font-size: 12px;
            font-weight: 500;
        }
        .posted-in {
            .sku-a {
                display: block;
                margin: 0 0 7px;
                color: #2b2b2b;
                font-weight: 500;
                font-size: 12px;
            }
            .vari {
                text-decoration: none;
                color: #8b8b8b;
                &:hover {
                    color: #f34f3f;
                }
            }
        }
        .tagged {
            .sku-a {
                display: block;
                margin: 0 0 7px;
                color: #2b2b2b;
                font-weight: 500;
                font-size: 12px;
            }
            a {
                text-decoration: none;
                color: #8b8b8b;
                &:hover {
                    color: #f34f3f;
                }
            }
        }
    }
}

#tab {
    .nav-tabs {
        .custom-nav {
            font-family: Montserrat;
            font-size: 12px;
            line-height: 2em;
            font-weight: 500;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            .nav-link {
                color: white;
                p {
                    color: black;
                    text-decoration: none;
                    padding: 2px 40px;
                    font-size: 12px;
                    font-family: 'Montserrat', sans-serif;
                    line-height: 2em;
                    font-weight: 500;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                }
            }
            .active {
                background-color: #f34f3f;
                p {
                    color: white;
                }
            }
        }
    }
    .tab-content {
        padding: 50px 0px;
        h3 {
            font-size: 30px;
            line-height: 1.4em;
            display: block;
            margin: 0 0 19px;
            color: #2b2b2b;
            font-family: "Playfair Display", serif;
            font-weight: 400;
        }
        p {
            display: block;
            margin: 14px 0 0;
            line-height: 1.6em;
            color: #6d6a6a;
            font-size: 15px;
            font-family: 'Lora', serif;
        }
    }
    #myTabContent {
        #profile {
            .shop-parag {
                p {
                    color: #2b2b2b;
                    width: 1%;
                    padding: 0 10px 0 0;
                    font-size: 12px;
                }
            }
        }
    }
}

#related-products {
    padding-bottom: 70px;
    margin: 30px 0 0;
    h2 {
        color: #1b1b1b;
        font-family: Montserrat;
        font-size: 12px;
        line-height: 2em;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        display: block;
        margin: 87px 0 24px;
        margin-left: 85px;
    }
    .related-img {
        position: relative;
        .image {}
        // .card {
        //     display: none;
        //     cursor: pointer;
        // }
        &:hover {
            .mkdf-price-holder {
                .price {
                    span {
                        display: none;
                    }
                    a {
                        display: block;
                    }
                }
            }
        }
        img {
            transform: scale(1);
            transition: 0.3s ease-in-out;
            &:hover {
                transform: scale(1.2);
            }
            width: 100%;
        }
        .mkdf-product-list-title {
            margin: 0 0 4px;
            text-align: center;
            margin-top: 18px;
            a {
                color: #1b1b1b;
                text-decoration: none;
                font-size: 12px;
                font-family: 'Montserrat', sans-serif;
            }
        }
        .mkdf-price-holder {
            position: relative;
            display: block;
            min-height: 20px;
            margin: 6px 0 0;
            .price {
                span {
                    text-align: center;
                    font-size: inherit;
                    line-height: inherit;
                }
                a {
                    display: none;
                    text-decoration: none;
                    color: black;
                    text-align: center;
                    &:hover {
                        color: #f34f3f;
                    }
                }
                position: relative;
                margin: 4px 0 0;
                line-height: 1;
                color: #afafaf;
                font-family: Montserrat,
                sans-serif;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                transition: all .3s ease;
                font-size: 12px;
                span {
                    display: block;
                }
            }
            .mkdf-default-skin {
                position: absolute;
                left: 50%;
                bottom: 7px;
                text-transform: none;
                letter-spacing: 0;
                line-height: 15px;
                padding: 0;
                margin: 0;
                background-color: transparent;
                color: #afafaf;
                opacity: 0;
                -webkit-transform: translateX(-100%);
                -moz-transform: translateX(-100%);
                transform: translateX(-100%);
                -webkit-transition: all .4s ease;
                -moz-transition: all .4s ease;
                transition: all .4s ease;
            }
        }
    }
    .related-img1 {
        position: relative;
        &:hover {
            .mkdf-price-holder {
                .price {
                    span {
                        display: none;
                    }
                    a {
                        display: block;
                    }
                }
            }
        }
        img {
            transform: scale(1);
            transition: 0.3s ease-in-out;
            &:hover {
                transform: scale(1.2);
            }
            width: 100%;
        }
        .mkdf-product-list-title {
            margin: 0 0 4px;
            text-align: center;
            margin-top: 18px;
            a {
                color: #1b1b1b;
                text-decoration: none;
                font-size: 12px;
                font-family: 'Montserrat', sans-serif;
            }
        }
        .mkdf-price-holder {
            position: relative;
            display: block;
            min-height: 20px;
            margin: 6px 0 0;
            .price {
                span {
                    text-align: center;
                    font-size: inherit;
                    line-height: inherit;
                }
                a {
                    display: none;
                    text-decoration: none;
                    color: black;
                    text-align: center;
                    &:hover {
                        color: #f34f3f;
                    }
                }
                position: relative;
                margin: 4px 0 0;
                line-height: 1;
                color: #afafaf;
                font-family: Montserrat,
                sans-serif;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                transition: all .3s ease;
                font-size: 12px;
                span {
                    display: block;
                }
            }
            .mkdf-default-skin {
                position: absolute;
                left: 50%;
                bottom: 7px;
                text-transform: none;
                letter-spacing: 0;
                line-height: 15px;
                padding: 0;
                margin: 0;
                background-color: transparent;
                color: #afafaf;
                opacity: 0;
                -webkit-transform: translateX(-100%);
                -moz-transform: translateX(-100%);
                transform: translateX(-100%);
                -webkit-transition: all .4s ease;
                -moz-transition: all .4s ease;
                transition: all .4s ease;
            }
        }
    }
    .spansale {
        position: relative;
        color: #2b2b2b;
        left: 0;
        background: #fff;
        display: contents;
        position: absolute;
        display: block;
        top: 0;
        width: auto;
        height: 30px;
        background: #fff;
        font-family: "Playfair Display", serif;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1px;
        text-align: center;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 10px 0 0 12px;
        padding: 5px 13px;
        z-index: 100;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

#ft {
    // padding: 73px 0;
    .mkdf-footer-top-holder {
        padding: 73px 0;
        position: relative;
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        background-color: #fefaf3;
        box-sizing: border-box;
    }
    .mkdf-footer-top-inner {
        padding: 73px 0;
        .col-lg-3 {
            .menu-custom {
                .custom-service {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    li {
                        display: block;
                        margin: 0;
                        padding: 0 0 3px;
                        a {
                            text-decoration: none;
                            font-size: 12px;
                            color: #8b8b8b;
                            font-family: 'Montserrat', sans-serif;
                            &:hover {
                                color: #f34f3f;
                                transition: color .2s ease-out;
                            }
                        }
                    }
                }
            }
            h6 {
                color: #000;
                margin: 0;
                margin-bottom: 20px;
                font-family: 'Montserrat', sans-serif;
            }
        }
    }
    .mkdf-footer-botton-holder {
        .mktext {
            .textwidget {
                font-size: 12px;
                font-family: 'Montserrat', sans-serif;
                div {
                    color: #afafaf;
                    a {
                        text-decoration: none;
                        color: #6d6a6a;
                        &:hover {
                            color: #f34f3f;
                        }
                    }
                }
            }
        }
    }
    .custom {
        border-top: 1px solid #eceae1;
        padding: 8px 0 17px;
        background-color: #fefaf3;
        .col-lg-4 {
            .img {
                text-align: center;
                cursor: pointer;
            }
        }
        .col-lg-4 {
            a {
                text-decoration: none;
                span {
                    color: #8b8b8b;
                    font-size: 10px;
                    letter-spacing: .2em;
                    margin-left: 25px;
                    &:hover {
                        color: #f34f3f;
                    }
                }
            }
        }
    }
}

body {
    $nav-font-family: "Montserrat", sans-serif;
}

nav {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        li {
            display: flex;
            position: relative;
            a {
                display: block;
                padding: 0 20px;
                line-height: $nav-height;
                background: $nav-background;
                color: $nav-font-color;
                text-decoration: none;
                position: relative;
                &:hover {
                    color: $nav-font-color;
                }
            }
            .nav-dropdown {
                position: absolute;
                display: none;
                z-index: 1;
                box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
                background-color: #fff;
                padding: 40px 0;
                li {
                    position: relative;
                    a {
                        line-height: 35px;
                        font-size: 13px;
                        color: #737373;
                        font-weight: 500;
                        text-transform: unset;
                    }
                    span {
                        font-family: "Playfair Display", serif;
                        font-size: 22px;
                        text-transform: none;
                        line-height: 1.1em;
                        color: #1b1b1b;
                        font-weight: 500;
                        padding: 0 0 24px 20px;
                    }
                }
            }
        }
    }
}

.nav-dropdown {
    position: relative;
    .port1 {
        .thirdtier {
            position: absolute;
            left: 12rem;
            display: none;
            min-width: 195px;
        }
        a {
            min-width: 175px;
            width: 100%;
            i {
                position: absolute;
                top: 11px;
                right: 15px;
            }
        }
    }
}

.nav-dropdown {
    .port1 {
        &:hover .thirdtier {
            display: block;
        }
    }
}

.nav-dropdown {
    .port2 {
        .thirdtier {
            position: absolute;
            left: -12rem;
        }
        a {
            text-align: right;
            i {
                position: absolute;
                right: 10rem;
            }
        }
    }
}

nav {
    .list {
        position: relative;
        a {
            font-family: $nav-font-family;
            font-size: $nav-font-size;
            font-weight: $nav-font-weight;
            text-transform: uppercase;
            letter-spacing: 0.1em;
        }
        &:hover .nav-dropdown {
            display: block;
            min-width: 200px;
            position: absolute;
            left: 0;
            top: 6rem;
        }
        &:hover .column-2 {
            width: 1000px;
            height: 400px;
            position: absolute;
            left: -35rem;
        }
    }
}

nav {
    .nav-list {
        .list {
            .underline {
                &::before {
                    content: "";
                    height: 1px;
                    background-color: #737373;
                    position: absolute;
                    bottom: 3rem;
                    left: 7px;
                    width: 100px;
                    margin: auto;
                    transition: width 0.2s ease-in-out;
                }
            }
        }
    }
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: $nav-background;
    height: $nav-height;
    width: $nav-height;
}

#nav-toggle {
    position: absolute;
    left: -47px;
    top: 47px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
    span,
    span:before,
    span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 3px;
        width: 35px;
        background: $nav-font-color;
        position: absolute;
        display: block;
        content: "";
        transition: all 300ms ease-in-out;
    }
    span:before {
        top: -10px;
    }
    span:after {
        bottom: -10px;
    }
    &.active span {
        background-color: transparent;
        &:before,
        &:after {
            top: 0;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
}

#navigation {
    .nav-container {
        max-width: 1300px;
        margin: 0 auto;
        height: 100%;
    }
    .brand {
        padding-left: 20px;
        float: left;
        line-height: $nav-height;
        text-transform: uppercase;
        font-size: 22px;
        img {
            width: 205px;
            height: 25px;
            vertical-align: inherit;
        }
    }
    header {
        .nav-list {
            height: 115px;
            display: flex;
            align-items: center;
            .list {
                a {
                    &::before {
                        content: "";
                        height: 1px;
                        background-color: #737373;
                        position: absolute;
                        bottom: 3rem;
                        left: 0;
                        width: 0;
                        margin: auto;
                        transition: width 0.2s ease-in-out;
                        color: #6d6a6a;
                    }
                }
                &:hover a::before {
                    width: 100%;
                }
            }
        }
    }
    header {
        .nav-list {
            .list {
                .nav-dropdown {
                    li {
                        a {
                            &::before {
                                content: "";
                                height: 1px;
                                background-color: #737373;
                                position: absolute;
                                bottom: 2px;
                                left: 15px;
                                width: 0;
                                margin: auto;
                                transition: width 0.2s ease-in-out;
                                color: #6d6a6a;
                            }
                        }
                        &:hover a::before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    header {
        .nav-list {
            .list {
                .nav-dropdown {
                    .port1 {
                        .thirdtier {
                            li {
                                a {
                                    &::before {
                                        content: "";
                                        height: 1px;
                                        background-color: #737373;
                                        position: absolute;
                                        bottom: 2px;
                                        left: 15px;
                                        width: 0;
                                        margin: auto;
                                        transition: width 0.2s ease-in-out;
                                        color: #6d6a6a;
                                    }
                                }
                                &:hover a::before {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    height: $nav-height;
    background: $nav-background;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
}

.nav-container {
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
}

.brand {
    padding-left: 20px;
    float: left;
    line-height: $nav-height;
    text-transform: uppercase;
    font-size: 22px;
    img {
        width: 205px;
        height: 25px;
        vertical-align: inherit;
    }
}

header {
    .nav-list {
        height: 115px;
        display: flex;
        align-items: center;
        .list {
            a {
                &::before {
                    content: "";
                    height: 1px;
                    background-color: #737373;
                    position: absolute;
                    bottom: 3rem;
                    left: 0;
                    width: 0;
                    margin: auto;
                    transition: width 0.2s ease-in-out;
                    color: #6d6a6a;
                }
            }
            &:hover a::before {
                width: 100%;
            }
        }
    }
}

header {
    .nav-list {
        .list {
            .nav-dropdown {
                li {
                    a {
                        &::before {
                            content: "";
                            height: 1px;
                            background-color: #737373;
                            position: absolute;
                            bottom: 2px;
                            left: 15px;
                            width: 0;
                            margin: auto;
                            transition: width 0.2s ease-in-out;
                            color: #6d6a6a;
                        }
                    }
                    &:hover a::before {
                        width: 100%;
                    }
                }
            }
        }
    }
}

header {
    .nav-list {
        .list {
            .nav-dropdown {
                .port1 {
                    .thirdtier {
                        li {
                            a {
                                &::before {
                                    content: "";
                                    height: 1px;
                                    background-color: #737373;
                                    position: absolute;
                                    bottom: 2px;
                                    left: 15px;
                                    width: 0;
                                    margin: auto;
                                    transition: width 0.2s ease-in-out;
                                    color: #6d6a6a;
                                }
                            }
                            &:hover a::before {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

// responsive  hissesi
@media only screen and (max-width: 1200px) {
    .nav-mobile {
        display: block;
    }
    nav {
        width: 100%;
        .nav-list {
            display: none;
        }
        li {
            float: none;
            a {
                padding: 15px;
                line-height: 20px;
            }
            ul li a {
                padding-left: 30px;
            }
        }
    }
}

.nav-dropdown {
    position: static;
}

.searchbar {
    position: relative;
    width: 0;
}

.searchbar input[type="text"] {
    border: 0;
    padding: 0;
    width: 0px;
    height: 35px;
    border-radius: 3px;
    transition: all 0.3s ease;
    position: absolute;
    top: 90px;
    right: -45px;
}

.searchbar .icon.active {
    transition: all 0.3s ease;
}

.searchbar input[type="text"].active {
    width: 230px;
    padding: 0 10px;
    transition: all 0.5s 0.2s ease;
}

.searchbar .icon {
    transition: all 0.5s 0.3s ease;
    i {
        cursor: pointer;
        transform: translate(-50%, -50%);
        font-size: 15px;
        margin-left: 27px;
        margin-top: 30px;
    }
}

.nav-list {
    .carticon {
        i {
            position: absolute;
            top: 3.2rem;
            right: 17rem;
            color: #1b2024;
            font-size: 18px;
            font-weight: 400;
            span {
                border-radius: 10px;
                position: absolute;
                top: -4px;
                right: -8px;
                font-size: 9px;
            }
            &:hover p {
                display: block;
            }
        }
        p {
            color: #6d6a6a;
            position: absolute;
            top: 6rem;
            right: 16rem;
            background-color: white;
            display: none;
        }
    }
}

.nav-list {
    .carttext {
        span {
            position: absolute;
            top: 3.2rem;
            right: 11rem;
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.1em;
        }
    }
}